<footer id="">
  <div class="">
      <div class="copyright">
	&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
	</div>
  </div>
</footer>