<!-- Header -->
<header id="header">
  <a class="logo" href="index.html">Industrious</a>
    <nav>
      <a href="menu">Menu</a>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Reglamento', regulation_page_path %>
    </nav>
</header>